#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: absolute;
  top: 20px;
  left: 100px;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
}

.modal header h2 {
  font-size: 64px;
  font-weight: normal;
  text-align: center;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}
.photograph-galery {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-around;
  margin: 2% 5%;
}
.photograph-galery article .media {
  cursor: pointer;
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin-bottom: -5%;
}
.photograph-header {
  background-color: #fafafa;
  margin: 0 5%;
  padding-left: 2%;
  padding-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  height: 180px;
  align-items: center;
}
.photograph-header .container-button-infos {
  justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 60%;
}
.sort .container-sort .text-sort {
  font-weight: 700;
  font-size: 17px;
  margin-right: 3%;
}
.sort {
  margin: 2% 5%;
}
.photograph-galery article {
  width: 30%;
  height: 266px;
  margin-bottom: 3%;
  color: #901c1c;
}
.photograph-galery article .container-title-like {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 96%;
  margin-top: 10px;
}
.lightbox {
  position: fixed;
  top: 10%;
  left: 0;
  width: 99%;
  height: 75%;
  transition: opacity 300ms;
  background-color: white;
  padding-top: 60px;
  border-style: solid;
  border-color: #db8876;
  margin-left: 5px;
}
.lightbox .media-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}
.lightbox .media-container img,
.lightbox .media-container video {
  max-width: 85%;
  width: 1050px;
  height: 500px;
  object-fit: contain;
}
.lightbox .lightbox-next,
.lightbox .lightbox-prev {
  margin-left: 1.5%;
  margin-right: 1.5%;
  color: #901c1c;
  border: none;
  width: 50px;
  height: 50%;
  position: fixed;
  top: 28%;
  right: 0;
  margin-top: -14px;
  z-index: 11;
  cursor: pointer;
  background-color: white;
}

.lightbox .lightbox-close {
  margin-right: 1.5%;
  border: none;
  height: 4%;
  width: 50px;
  position: fixed;
  top: 11%;
  right: 7px;
  cursor: pointer;
  z-index: 12;
  background-color: white;
}

.lightbox .lightbox-prev {
  right: auto;
  left: 0;
}

.price-total-like {
  display: flex;
  width: 17%;
  height: 50px;
  justify-content: space-around;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #db8876;
  position: fixed;
  bottom: 0;
  right: 57px;
}
#select-sort {
  max-height: 170px;
  width: 170px;
  background: #901c1c;
  color: white;
}

select option:not(:last-child) {
  border-bottom: 5px solid white;
}

.media-container img {
  border-radius: 5px;
}

.fa-chevron-right {
  font-size: xx-large;
}
.fa-chevron-left {
  font-size: xx-large;
}
.fa-xmark {
  font-size: xx-large;
  color: #901c1c;
}

.listbox-option {
  padding: 10px 1ch 10px 0;
  border-right: 1px solid white;
}

.listbox-option:focus {
  outline: none;
  background-color: #d3573c;
  color: black;
}

.listbox-option::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  color: white;
  margin-right: 1ch;
  margin-left: 2px;
  transform: scale(0);
}

.listbox-option:focus::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  margin-right: 1ch;
  transition: transform 0.25s ease-in-out;
  transform: scale(1);
}

.listbox-option:hover {
  background-color: #d3573c;
  color: black;
}

.listbox-option:hover::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  margin-right: 1ch;
  transition: transform 0.25s ease-in-out;
  transform: scale(1);
}

#listbox-current-option {
  color: white;
  font-weight: 500;
  margin: 0 1ch;
}

.listbox-option + .listbox-option {
  border-top: 1px solid white;
}

.listbox-option:nth-child(1) {
  border-radius: 5px 0 0 0;
}

.listbox-option:nth-child(3) {
  border-radius: 0 0 0 5px;
}
#listbox-label {
  font-weight: 500;
  display: flex;
  justify-content: space-between;
  margin: 0 0 30px 0;
  position: absolute;
}

#listbox-container {
  background-color: #901c1c;
  position: absolute;
  display: flex;
  align-items: center;
  color: white;
  cursor: pointer;
  padding: 0 10px 0 0;
  border-radius: 5px;
  min-height: 50px;
  font-weight: 500;
  width: 150px;
  left: 80px;
  z-index: 1;
}

#listbox-container::after {
  position: absolute;
  top: 15px;
  right: 15px;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f107";
  margin-left: 1ch;
}

#listbox-container:hover > #listbox-current-option {
  color: black;
}

#listbox-container:focus {
  outline: 2px solid #d3573c;
}

#listbox-container[aria-expanded="false"]:hover {
  background-color: #d3573c;
}

#listbox-container[aria-expanded="true"] {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12), 0 2px 2px rgba(0, 0, 0, 0.12),
    0 4px 4px rgba(0, 0, 0, 0.12), 0 8px 8px rgba(0, 0, 0, 0.12),
    0 16px 16px rgba(0, 0, 0, 0.12);
}

#listbox-container[aria-expanded="true"]::after {
  content: "\f106";
}

#listbox {
  display: none;
}
