@import url("photographer.css");

body {
  font-family: "DM Sans", sans-serif;
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

h1 {
  color: #901c1c;
  margin-right: 100px;
}

.logo {
  height: 50px;
  margin-left: 100px;
}

.photographer_section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 70px;
  margin-top: 100px;
}

.photographer_section article {
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.photographer_section article h2 {
  color: #d3573c;
  font-size: 36px;
}

.photographer_section article img {
  height: 200px;
  width: 200px;
}
.photographer_section article img {
  height: 200px;
  width: 200px;
  -webkit-clip-path: ellipse(42% 42%);
  clip-path: ellipse(42% 42%);
  -o-object-fit: cover;
  object-fit: cover;
}
.photographer_section article h2 {
  color: #d3573c;
  font-size: 25px;
  text-align: center;
  margin: 3% auto;
}
.photographer_section article h2 + span {
  color: #901c1c;
  font-size: 12px;
}
.photographer_section article p {
  font-size: 12px;
  color: black;
  margin: 2% auto;
}
.photographer_section article p + span {
  color: #757575;
  font-size: 12px;
}
.photo-page-photographe{
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.photograph-galery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin: 2% 5%;
}
.photograph-galery article .media {
  cursor: pointer;
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
  object-fit: cover;
  margin-bottom: -5%}
  .photograph-header {
    background-color: #FAFAFA;
    margin: 0 5%;
    padding-left: 2%;
    padding-right: 2%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 180px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center}
    .photograph-header .container-button-infos {
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      width: 60%}
      .sort .container-sort .text-sort {
        font-weight: 700;
        font-size: 17px;
        margin-right: 3%}
        .sort {
          margin: 2% 5%;
      }
      